body {
    background-color:aquamarine
}

body {
           font-family: 'Arial';
           transition: 0.4s;
           transition-timing-function: ease-in-out;
           font-size: 25px;
}
 
div
   {
    height: 60px;
    width: 100px;
    border-style: solid;
    border-radius: 10%;
    font-family:arial ; 
   }
 
.floaty {
    float: left;
    background-color: aliceblue;
    width: 60px;
}

